.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: -5px;
  margin-top: -14px;
}

.flex-1 {
  flex: 1 1 160px;
  min-width: 140px;
  
}

.add-button {
  margin-top: -8px;
  display: flex;
  gap: 2px;
  margin-bottom: 0px;
}
