<div class="ad-wrap-container">
  <!-- Left banner -->
  <ins class="adsbygoogle ad-box"
       style="display:block"
       data-ad-client="ca-pub-4092028207013091"
       data-ad-slot="4399220449"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <!-- Right banner -->
  <ins class="adsbygoogle ad-box"
       style="display:block"
       data-ad-client="ca-pub-4092028207013091"
       data-ad-slot="1462900064"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
</div>
<script>
  // Inicializa AdSense
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
