.painel-principal {
  margin-bottom: 6px;
  padding-top: 6px;
  background-color: white;
  font-size: 13px;

  mat-card-header {
    padding: 0;
    margin-bottom: 9px;

    mat-card-title {
      font-size: 20px;
      font-weight: 400;
      padding-left: 18px;
      font-weight: bold;
    }
  }
 
  .input-botoes {
    display: flex;
    gap: 6px;
    margin-bottom: -14px;
    flex-wrap: wrap;
  }

  .input-faturamento {
    flex: 1;
    min-width: 180px;
  }

  .botoes-acoes {
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
  }

  mat-form-field.input-faturamento {
    flex: 1 1 200px;
    min-width: 200px;
  }
  
}

.calculadora-card {
  padding: 12px;
}

mat-panel-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: -4px;
}

mat-expansion-panel{
  margin-top: -6px;
}

.grid {
  display: flex;
  margin-bottom: -24px;
  margin-top: -8px;
  flex-wrap: wrap;
  gap: 6px;
}

.flex-1 {
  flex: 1 1 160px;
  min-width: 140px;
  margin-top: -4px;
}

.input-contato {
  display: flex;
  gap: 6px;
  
  flex-wrap: wrap;
}

.input-contato .flex-1 {
  flex: 1 1 200px;
  min-width: 140px;
} 

@keyframes pulse {
  0%   { box-shadow: 0 0 0 0 rgba(0, 150, 136, 0.7); }
  70%  { box-shadow: 0 0 0 10px rgba(0, 150, 136, 0); }
  100% { box-shadow: 0 0 0 0 rgba(0, 150, 136, 0); }
}

.btn-calcular {
  font-size: 16px;       /* fonte maior */
  padding: 10px 18px;    /* botão mais “gordo” */
  border-radius: 4px;
  font-weight: bold;
}

.btn-LimparAtualizar {
  font-size: 13px;       /* fonte maior */
  padding: 10px 12px;    /* botão mais “gordo” */
  border-radius: 4px;
}

.input-botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: -14px;
}

.campo-atividade {
  flex: 2 1 300px;
  min-width: 250px;
}

.campo-faturamento {
  flex: 1 1 160px;
  min-width: 120px;
}

.campo-celular {
  flex: 1 1 160px;
  min-width: 140px;
}

.campo-email {
  flex: 2 1 260px;
  min-width: 220px;
}

.calculadora-card {
  margin: 1rem auto;
  max-width: 900px; /* ou ajuste conforme desejar */
  padding: 1rem;
}

:host {
  --mat-form-field-container-height: 1.8rem;
  --mat-form-field-container-vertical-padding: 0.15rem;
  --mat-form-field-container-text-size: 13px;
}

.layout-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 0;       /* zera margem extra */
  padding: 0;      /* zera padding extra */

  .ad-box-side {
    flex: 0 0 160px;
    margin-top: 0; /* alinha ao mesmo topo */
  }
  .card-container {
    flex: 1;
    margin-top: 0; /* sem espaço acima */
  }
}

@media (max-width: 600px) {
  .layout-container {
    flex-direction: column;
  }
  .ad-box-side,
  .card-container {
    width: 100%;
  }
}

.contato-box {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;

  a {
    color: #1976d2; /* cor padrão de link */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}



